name: Appium Tests

on:
  workflow_dispatch:

jobs:
  appium-tests:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.7

      - name: List files for debugging
        run: ls -la

      - name: Set up JDK 17
        uses: actions/setup-java@v4.3.0
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: List files in scripts directory for debugging
        run: ls -la scripts

      - name: Grant execute permission for Appium test script
        run: chmod +x scripts/run_offline_appium_tests.sh

      - name: Verify permissions for Appium test script
        run: ls -la scripts

      - name: Run Gradle Build
        run: ./gradlew build

      - name: Run Appium Tests (E2E)
        run: ./scripts/run_offline_appium_tests.sh

      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
